@tailwind base;
@tailwind components;
@tailwind utilities;



html.dark {
  background-color: #0a0a0a; 
  color: #ededed;
}

html.light {
  background-color: #ffffff;
  color: #171717;
}


@keyframes bounceDot {
  0%, 80%, 100% {
    transform: scale(1);
    opacity: 0.3;
  }
  40% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.animate-bounce-delay1 {
  animation: bounceDot 1.4s infinite;
  animation-delay: 0s;
}

.animate-bounce-delay2 {
  animation: bounceDot 1.4s infinite;
  animation-delay: 0.2s;
}

.animate-bounce-delay3 {
  animation: bounceDot 1.4s infinite;
  animation-delay: 0.4s;
}

