@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", serif;
  }
}

html.dark {
  background-color: #111827; 
  color: white;
}

html.light {
  background-color: white;
  color: black;
}


.roboto{
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
